In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

In [ ]:
"""
RFE  ---> Recursive Feature Elimination 
If we arehaving a lot of features and we want to select some out of them we can use it

1. Get some features using RFE and then add manually (RFE+Manual Selection)
2. Make model with all features and eliminate(Backward Selection)
"""

In [12]:
# PCA
df  = pd.read_csv('data_for_pca.csv')
df.head()
test = df
y = test.pop('price')
X = test
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.75)

In [13]:
X_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
7,16200,5,3,2,1,0,0,0,0,0,0,0,1
47,6600,3,1,4,1,0,0,0,1,3,1,0,0
358,3480,2,1,1,1,0,0,0,0,0,1,1,0
103,6350,3,2,3,1,1,0,0,1,0,0,0,0
195,4410,4,3,2,1,0,1,0,0,2,0,1,0

In [15]:
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
rfe = RFE(reg,9)

In [18]:
rfe = rfe.fit(X_train,y_train)
list(zip(X_train.columns,rfe.support_,rfe.ranking_)) # Ranking 1 is selected

[('area', False, 5),
 ('bedrooms', False, 2),
 ('bathrooms', True, 1),
 ('stories', True, 1),
 ('mainroad', True, 1),
 ('guestroom', True, 1),
 ('basement', False, 3),
 ('hotwaterheating', True, 1),
 ('airconditioning', True, 1),
 ('parking', True, 1),
 ('prefarea', True, 1),
 ('semi-furnished', False, 4),
 ('unfurnished', True, 1)]